# Logistic Regression

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import scipy.optimize as opt

In [23]:
Churn_data = pd.read_csv(r"C:\Users\ALMASRIA 4 COMP\Desktop\ML\Telco-Customer-Churn.csv")
Churn_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [24]:
Churn_data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [25]:
Churn_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [26]:
Churn_data.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [27]:
Churn_selected = Churn_data[["gender","tenure","SeniorCitizen","PhoneService","InternetService","OnlineSecurity","TechSupport","PaymentMethod","MonthlyCharges","TotalCharges","Churn"]]

## Encoding

In [28]:
from sklearn.preprocessing import LabelEncoder
gender_label_encoder = LabelEncoder()
gender_label_encoder.fit(["Male","Female"])
Churn_selected["gender"] = gender_label_encoder.transform(Churn_selected["gender"])
Churn_selected["gender"]

C:\Users\ALMASRIA 4 COMP\AppData\Local\Temp\ipykernel_1176\3670422240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Churn_selected["gender"] = gender_label_encoder.transform(Churn_selected["gender"])

0       0
1       1
2       1
3       1
4       0
       ..
7038    1
7039    0
7040    0
7041    1
7042    1
Name: gender, Length: 7043, dtype: int64

In [29]:
Churn_selected["PaymentMethod"].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [30]:
Churn_data['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [31]:
gender_label_encoder = LabelEncoder()
gender_label_encoder.fit(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'])
Churn_selected["PaymentMethod"] = gender_label_encoder.transform(Churn_selected["PaymentMethod"])
Churn_selected["PaymentMethod"]

C:\Users\ALMASRIA 4 COMP\AppData\Local\Temp\ipykernel_1176\3959389872.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Churn_selected["PaymentMethod"] = gender_label_encoder.transform(Churn_selected["PaymentMethod"])

0       2
1       3
2       3
3       0
4       2
       ..
7038    3
7039    1
7040    2
7041    3
7042    0
Name: PaymentMethod, Length: 7043, dtype: int64

In [32]:
# Churn_data['Churn'].gender_label_encoder.transform(Churn_selected["Churn"])

## Train Test Splitting

In [33]:
from sklearn.linear_model import LogisticRegression
LR_model = LogisticRegression().fit(X_train,y_train) #C=0.001,solver="liblinear"

NameError: name 'X_train' is not defined

In [ ]:
predictions = 
print(predictions)
print(y_test)

In [ ]:
predictions_probabilty = LR_model.predict_proba(X_test)
predictions_probabilty

## Metrics Evalution

In [ ]:
from sklearn.metrics import jaccard_score

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
from sklearn.metrics import log_loss
log_loss(y_test,predictions_probabilty)

## Try with yourself
try  different optimizer and regulariztion

## Normalization effect

In [ ]:
X = np.asarray(Churn_selected[["tenure","SeniorCitizen","PhoneService","InternetService","OnlineSecurity","TechSupport","PaymentMethod","MonthlyCharges","TotalCharges"]])
X[0:4]

In [ ]:
y = np.asarray(Churn_selected['Churn'])
y[0:4]

In [ ]:
from sklearn.preprocessing import StandardScaler
X_norm = StandardScaler().fit(X).transform(X)
X_norm